@import './../../../scss/main.scss';
.link{
    color:$white;
    text-decoration:none;
}
.home{
    margin:0 6% 0 -18%;
}
.about{
    margin-right: 6%;
}
.tagline{
    color:$white;
    font-family: cursive,sans-serif;
    font-style:italic;
    font-size: 1.4rem;
}
.nav-links{
    @include justify-content-end;
}

::ng-deep .material-icons{
    font-size: 24px;
}
 ::ng-deep .mat-toolbar{
     position:fixed;
     z-index: 100;
     background-color:$black;
 } 

::ng-deep .mat-toolbar-row{
     @include justify-space-between;
}



@media only screen and (max-width: 414px) {
   .link{
       font-size:0.8rem
   }
   .tagline{
       font-size: 1rem;
   }
  }

  