<mat-toolbar>
    <mat-toolbar-row>
        <div>
            <h2 class="tagline">A Bunch of Numpties!!</h2>
        </div>
<div class="nav-links">
        <a class="link home" href="#">
            Home </a>
        <a class="link about" href="#about">
            About</a>
        <a class="link" href="#">
            Contact</a>
        </div>
       <!-- <a class="link" href="#">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
       </a> -->
       <!-- <div class="contact"> -->
        <!-- <a class="link" href="#">
            <mat-icon aria-hidden="false" aria-label="Example home icon">contact_phone</mat-icon>
        </a> -->
      <!-- </div> -->
      </mat-toolbar-row>
</mat-toolbar>