<app-navbar></app-navbar>
<div class="container">
  
  <div class="main-container">

  <div class="introduction">
    
    <div class="profile">
      
        <img class="profile-pic" src="https://lh3.googleusercontent.com/5a5JXxOpV_p-e97Is9GKSZu8zTmpc58jJ2WtiXjM7r5FKBBQVsAa-H4gSxTwaHPCNdVoFkbjxG64eRtYVGU5vKbZkbABTSMZSWQglq6RDNAMaxt55sQGyk0gKgrs4Bb9zvlX3qAx7p2OyzI9_7hz2DrDmQ81_wDlcZHg0HTLDXjmMRV9U9kjLoYUZyiHhE4nuDsM3UCUP-KFXhNeYv8mJ5-LomdF2clHYD34AwhBaH5Qrg6iVSuvStOgYJtzAGhHNLz6L5i9TwvcrgU-N7Y5jmARf2e88mnLWPzt88FSHwHtGvg2pR-sCRVwrczLWXNgWfeBftjWcYb8FywSX47kOOmu4Wb0FtnwtEKNnbjOIGNs59gp9R4rOpiDDim8EQxw6lPARc75NGxB2y6nl8QIcDmeHw7if8tal5L18ME1snYUA9lDMrk12BL10zSvRjsF0PZy4vqNQshS3cLvqe3i02xewI9BRLvGvXlzQP7aKfWqWiudhjKxYP4P1V4EQwZNb8_RN4d0_dh1GRCW0ZpmkLMj5lZtusxspOKGysouMNOjtO18ugjoXuMXIqm6c80P4tSFHPfPQVaVK0CkO0lZ96qCjCrVM6O4IHde2zSm4DxgmSri7FX3Dc2VE4d1lWl6jno75-Y7kRZJ1zTXuIXSa_vyDpSLQnyru872O5eoNdO_7zdSc7aHTGvToKPf=s720-no?authuser=3" alt="">
    
      <p class="intro-text mat-typography">
        Hello This is Snehal, Welcome to my blog. I am graduated and successfully completed my Computer Engigeering in
        2018. I have experience as a web designer for few months. 
      </p>
    </div>
  </div>

      
    <div class="social-media">
      
      <ul>
        <li class="list-style"><h5 class="follow-label">Follow me on</h5></li>
        <div class="media-icon">
        <li class="list-style">
          <a href="#">
            <i class="fa fa-instagram instagram fa-2x" aria-hidden="true"></i>
          </a>
         </li>
        <li class="list-style">
          <a href="#">
            <i class="fa fa-facebook-square facebook fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-style">
          <a href="#">
            <i class="fa fa-twitter-square fa-2x twitter" color="primary" aria-hidden="true"></i>
          </a>
        </li>
      </div>
      </ul>
    </div>


  </div>
  <div class="design-image">
    
      <img class="example-img" src="https://image.flaticon.com/icons/svg/265/265666.svg" alt="">
    
    <p class="intro-text">
      I'm passionate about designing web and mobile applications. Keep learning and exploring new things. I will share my experience with you as a trainee Designer. If there is good guidance, it is easy to achieve the desired goal. So I would like to share my suggestions and want to learn from other experiences too. Let's support each other.
    </p>
  </div>
  </div>