$black: #000000;
$white:#ffffff;
$whitesmoke:#e9e6e6;
$primary:#3957da;
$corneflowerblue:#6495ed;
$darkblue:#00008b;
$deeppink:#ff1493;
$dark-brown: #ad3737;
$rose:#fc94af;
$blush:#fec5ef;
$peach:#f9c5bb;
$bg-grey: rgba(#000000,0.5);